
// nav collapsed, code below the article
$media_mobile_max: 768px;
// between these variables:
// nav visible, code below the article
$media_tablet_max: 1024px;
// between these variables:
// with code examples: nav collapsed, code on the right
// without code examples: maxwidth 950, nav visible
$media_laptop_max: 1280px;
// normal look

:root {
	--width: 1000px;
	--color-bg: #1b1c21;
	--color-block-bg: #26272b;
	--color-block-bg-selection: #35363b;
	--color-border: #4a4c54;
	--color-font: #b9bac1;
	--color-font-2: #757884;
	--color-link: #3bafda;
	--color-link-border: #2b667e;
	--border-radius: 0.35em;
	--gap: 1.8rem;
	--margin: 1.2em;
	--margin-half: calc(var(--margin) / 2);
	--font-monospace: 'Noto Sans Mono', monospace;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-bg);
	color: var(--color-font);

	.article,
	.example {
		transition: filter .15s ease;
	}

	&._nav_opened {
		overflow: hidden;

		.article,
		.example {
			filter: blur(3px);
			user-select: none;
			pointer-events: none;
		}
	}
}

body,
input,
table {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;
}

.widther {
	margin: auto;
	padding: 0 var(--gap);
	// width: var(--width);
	max-width: 1750px;

	// only on tablets
	@media (min-width: ($media_mobile_max + 1)) and (max-width: $media_tablet_max) {
		max-width: 900px;
	}

	@at-root body._nocode & {
		// on laptops & desktops
		@media (min-width: ($media_tablet_max + 1)) {
			max-width: 900px;
		}
	}
}

a {
	color: var(--color-link);
	border-bottom: 1px solid var(--color-link-border);
	text-decoration: none;
	transition: border-bottom-color .15s ease;

	&:hover {
		text-decoration: none;

		&,
		code:not(._) {
			border-color: var(--color-link);
		}
	}

	&:not([href]) {
		cursor: default;
	}

	&:not(.list-one):not(.button) {
		border-bottom: 1px solid var(--color-link-border);
		transition: border-bottom-color .15s ease;

		&:hover {
			border-bottom-color: var(--color-link);
		}
	}

	code:not(._) {
		border-color: var(--color-link-border);
		color: var(--color-link);
		transition: border-color .15s ease;
	}
}

header {
	margin-bottom: var(--margin);
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-bg);
	height: 60px;
	z-index: 3;

	.widther {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.burger {
		display: none;
		align-items: center;
		justify-content: center;
		margin-right: var(--margin);
		border: 1px solid var(--color-border);
		border-radius: var(--border-radius);
		width: 2.25em;
		height: 2.25em;
		background-color: var(--color-block-bg);
		cursor: pointer;
		transition: background-color .15s ease;

		&:hover {
			background-color: var(--color-block-bg-selection);
		}

		svg {
			width: 1.5em;
			height: 1.5em;

			path {
				stroke: var(--color-font);
			}
		}

		// on phones
		@media (max-width: $media_mobile_max) {
			display: flex;
		}
		@at-root body:not(._nocode) & {
			// only on laptops
			@media (min-width: ($media_tablet_max + 1)) and (max-width: $media_laptop_max) {
				display: flex;
			}
		}
	}

	.logo {
		flex-shrink: 0;
		flex-grow: 0;
		display: flex;
		align-items: center;

		div {
			margin-left: var(--margin-half);
			font-size: 1.2em;
			font-weight: 600;
		}
	}
}

main {
	display: grid;
	grid-template-columns: 14em 1.33fr minmax(26em, 1fr);
	grid-gap: var(--gap);
	margin-bottom: var(--margin) !important;

	// only on phones
	@media (max-width: $media_mobile_max) {
		display: block;

		.example {
			margin-top: var(--gap);
		}
	}

	// only on tablets
	@media (min-width: ($media_mobile_max + 1)) and (max-width: $media_tablet_max) {
		// grid-row-gap: 0;
		grid-template-columns: 14em 1fr;
		grid-template-areas: "nav article" ". examples";
	}

	@at-root body._nocode & {
		// on laptops and desktops
		@media (min-width: ($media_tablet_max + 1)) {
			grid-template-columns: 14em 1fr;
		}
	}

	@at-root body:not(._nocode) & {
		// only on laptops
		@media (min-width: ($media_tablet_max + 1)) and (max-width: $media_laptop_max) {
			grid-template-columns: 1.33fr minmax(26em, 1fr);
		}
	}
}

nav {
	.body > div:not(.attribution) {
		border-radius: var(--border-radius);
		padding: var(--margin-half) 0;
		background-color: var(--color-block-bg);

		&:not(:first-child) {
			margin-top: var(--margin);
		}

		:not(.category-content) {
			padding-left: calc(var(--margin) * (1 + var(--depth, 0) / 1.5));
			padding-right: var(--margin);
		}

		a, .title-category {
			padding-top: var(--margin-half);
			padding-bottom: var(--margin-half);
		}

		a:not([hack]) {
			display: block;
			border: none;
			color: var(--color-font);
			text-decoration: none;
			transition: background-color .15s ease;

			&:hover {
				background-color: var(--color-block-bg-selection);
			}
		}
	}

	.title {
		padding-top: var(--margin-half);
		padding-bottom: var(--margin-half);
		color: var(--color-font-2);
		font-size: .9em;
		font-weight: 600;
		text-transform: uppercase;
	}

	.title-category {
		font-weight: 700;
	}

	.attribution {
		margin-top: var(--margin);
		color: var(--color-font-2);
		font-size: .8em;
		text-align: center;
		line-height: 1.5em;

		a {
			--color-link: var(--color-font-2);
			--color-link-border: var(--color-font-2);
		}
	}

	@at-root body._nav_opened & {
		left: 0px !important;
		box-shadow: 0 0 5em #000;
	}

	@mixin nav-collapsed {
		--nav-width: calc(14em + 2 * var(--gap));

		position: fixed;
		top: 61px;
		left: calc(-1 * var(--nav-width));
		width: var(--nav-width);
		height: 100%;
		background-color: var(--color-bg);
		z-index: 2;
		transition: left .15s ease;

		.body {
			padding: var(--margin) var(--gap);
			max-height: calc(100% - 61px - 2 * var(--margin));
			overflow: scroll;
		}
	}

	// on phones
	@media (max-width: $media_mobile_max) {
		@include nav-collapsed;
	}
	@at-root body:not(._nocode) & {
		// only on laptops
		@media (min-width: ($media_tablet_max + 1)) and (max-width: $media_laptop_max) {
			@include nav-collapsed;
		}
	}
}

.article {
	:first-child {
		margin-top: 0;
	}

	> * {
		margin: .75em 0;
		line-height: 1.55em;
	}

	table,
	aside {
		margin: 1em 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1.25em;
		margin-bottom: .5em;
	}

	:not(pre) code {
		border: 1px solid var(--color-border);
		border-radius: var(--border-radius);
		padding: .05em .35em;
		background-color: var(--color-block-bg);
		font-family: var(--font-monospace);
		font-size: .95em;
		color: #f7fafc;
		white-space: nowrap;
	}

	pre {
		border-radius: var(--border-radius);
		padding: var(--margin);
		max-width: 100%;
		background-color: var(--color-block-bg);
		font-size: .9em;
		overflow: auto;
		white-space: pre-wrap;

		code {
			font-family: var(--font-monospace);
		}
	}

	ul,
	ol {
		padding-left: var(--margin);
	}

	table {
		--table-cell-border: 1px solid var(--color-border);

		border-spacing: 0;
		border-collapse: separate;

		thead {
			background-color: var(--color-block-bg);
			font-weight: bold;
		}

		tr:last-child {
			th,
			td {
				border-bottom: var(--table-cell-border);
			}
		}

		tbody tr:nth-child(2n) {
			background-color: rgba(#fff, .015);
		}

		th,
		td {
			border-top: var(--table-cell-border);
			border-left: var(--table-cell-border);
			padding: .4em .8em;
			vertical-align: baseline;

			&:last-child {
				border-right: var(--table-cell-border);
			}
		}

		thead,
		tbody:first-child {
			tr:first-child {
				th,
				td {
					&:first-child {
						border-top-left-radius: var(--border-radius);
					}

					&:last-child {
						border-top-right-radius: var(--border-radius);
					}
				}
			}
		}

		thead:last-child,
		tbody {
			tr:last-child td {
				&:first-child {
					border-bottom-left-radius: var(--border-radius);
				}

				&:last-child {
					border-bottom-right-radius: var(--border-radius);
				}
			}
		}
	}

	aside {
		border-left: .4em solid;
		border-radius: var(--border-radius);
		padding: 1em;

		&::before {
			display: block;
			margin-bottom: calc(var(--margin) / 4);
			font-size: 0.9em;
			font-weight: bold;
		}

		p:last-child {
			margin-bottom: 0;
		}

		&[info] {
			border-left-color: #4173b7;
			background-color: #253246;

			&::before {
				content: getConfig('vars.aside.info');
			}
		}

		&[warning] {
			border-left-color: #f6bb43;
			background-color: #473c28;

			&::before {
				color: #ca9b3c;
				content: getConfig('vars.aside.warning');
			}
		}
	}

	.parameters {
		.parameter {
			margin: 0;
			border-bottom: 1px solid var(--color-border);
			padding: var(--margin) 0;
			// background-color: var(--color-block-bg);
			// overflow: hidden;

			&:first-child {
				border-top: 1px solid var(--color-border);
			}

			&:not(:first-child) {
				margin-top: .15em;
			}

			.parameter-def {
				display: flex;
				align-items: center;
				margin-bottom: var(--margin-half);
				// padding: var(--margin-half) var(--margin);
				// background-color: var(--color-block-bg-selection);

				._name {
					font-family: var(--font-monospace);
					font-weight: 600;
				}

				._type {
					// flex-grow: 1;
					margin-left: var(--margin-half);
					color: var(--color-font-2);
					font-weight: 600;
				}

				._mod {
					margin-left: var(--margin-half);
					border-radius: var(--border-radius);
					padding: 0 0.5em;
					border: 1px solid;
					font-size: .85em;
					font-weight: bold;
					line-height: 1.6em;

					&._required {
						border-color: getConfigColor('style.colors.parameters.required.border');
						background-color: getConfigColor('style.colors.parameters.required.background');
						color: getConfigColor('style.colors.parameters.required.font');

						&::before {
							content: getConfig('vars.parameters.required');
						}
					}

					&._deprecated {
						border-color: getConfigColor('style.colors.parameters.deprecated.border');
						background-color: getConfigColor('style.colors.parameters.deprecated.background');
						color: getConfigColor('style.colors.parameters.deprecated.font');

						&::before {
							content: getConfig('vars.parameters.deprecated');
						}
					}

					&._experimental {
						border-color: getConfigColor('style.colors.parameters.experimental.border');
						background-color: getConfigColor('style.colors.parameters.experimental.background');
						color: getConfigColor('style.colors.parameters.experimental.font');

						&::before {
							content: getConfig('vars.parameters.experimental');
						}
					}
				}
			}

			p {
				margin: 0;
				// padding: 0 var(--margin);
				line-height: 1.7em;

				// &:nth-child(2) {
				// 	padding-top: var(--margin-half);
				// }

				// &:last-child {
				// 	padding-bottom: var(--margin-half);
				// }

				&.footnote {
					color: var(--color-font-2);
					font-size: .92em;
				}
			}
		}
	}
}

.example {
	// only on tablets
	@media (min-width: ($media_mobile_max + 1)) and (max-width: $media_tablet_max) {
		grid-area: examples;
	}

	h1 {
		margin-top: 0;

		@at-root body:not(._nocode) & {
			// only on laptops
			@media (min-width: ($media_tablet_max + 1)) and (max-width: $media_laptop_max) {
				display: none;
			}
		}
	}

	> div {
		background-color: var(--color-block-bg);
		border-radius: var(--border-radius);
		// font-size: .9em;
		overflow: hidden;

		&:not(:first-child) {
			margin-top: var(--margin);
		}

		&._request .title._monospace {
			font-family: var(--font-monospace);

			> span {
				padding: .1em .5em;
				border-radius: var(--border-radius);
				background-color: #485e35; // #265c53;
				color: #8cc152; // #37bc9d;
			}
		}
	}

	.title {
		padding: var(--margin-half) var(--margin);
		background-color: var(--color-block-bg-selection);
		font-size: 1.1em;
		font-weight: 700;

		small {
			display: block;
			margin-top: .1em;
			color: var(--color-font-2);
			font-weight: 400;
		}
	}

	pre {
		margin: 0;
		padding: var(--margin);
		overflow: auto;
	}
}
