
<!doctype html>

<html>
	<head>
		<meta charset="UTF-8">
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
			>

		<style>:root,body{background:#1b1c21}</style>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<title><%= $page.title %> :: <%= title %></title>

		<link
			rel="preload"
			as="style"
			href="/css/style.css"
			onload="this.onload=null;this.rel='stylesheet';document.body.style.display=''"
			>
		<link
			rel="preload"
			as="style"
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600&display=swap"
			onload="this.onload=null;this.rel='stylesheet'"
			>

		<script
			src="/js/main.js"
			async
			defer
		></script>

		<link
			rel="preload"
			as="style"
			href="https://cdn.jsdelivr.net/npm/highlight.js@11.3.1/styles/<%= style.highlight_theme %>.css"
			integrity="sha256-Qjf/ynzmqttDjEV+CmdbElxTS73aW4f0HzoUlWA7zJs="
			crossorigin="anonymous"
			onload="this.onload=null;this.rel='stylesheet'"
			>
	</head>
	<body style="display:none">
		<header>
			<div class="widther">
				<div class="burger">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/>
					</svg>
				</div>
				<div class="logo">
					<img
						src="/img/logo.svg"
						alt="logo"
						>
					<div>
						<%= title %>
					</div>
				</div>
			</div>
		</header>
		<main class="widther">
			<nav>
				<div class="body">
					<% for (const { title, content } of navigation) { %>
					<div>
						<% if (typeof title === 'string') { %>
						<div class="title"><%= title %></div>
						<% } %>
						<% for (const block of content) {
							createNavLinksBlock(block);
						} %>
					</div>
					<% } %>
					<div class="attribution">
						Created with <a href="https://github.com/kirick13/docs.md">docs.md</a>.<br>
						version <%= $package.version %>
					</div>
				</div>
			</nav>
			<div class="article">
				<%- $page.content %>
			</div>
			<div class="example">
				<h1>Examples</h1>
				<% const { request, other } = $page.code_examples; %>
				<% if (request) { %>
				<div class="_request">
					<div class="title <%= request.is_title_monospace ? '_monospace' : '' %>">
						<%- request.title ?? 'Request' %>
					</div>
					<% for (const { content } of request.snippets) { %>
						<%- content %>
					<% } %>
				</div>
				<% } %>
				<% for (const { title, snippets } of other) { %>
					<% for (const { subtitle, content } of snippets) { %>
					<div>
						<div class="title">
							<%- title %>
							<% if (subtitle) { %>
							<small>
								<%- subtitle %>
							</small>
							<% } %>
						</div>
						<%- content %>
					</div>
					<% } %>
				</div>
				<% } %>
			</div>
		</main>
	</body>
</html>

<%
function createNavLinksBlock ({ title, url, content }, depth = 0) {
	if (typeof url === 'string') {
		%> <a href="<%= url %>">
			<%= title %>
		</a> <%
	}
	else if (Array.isArray(content)) { %>
		<div class="title-category">
			<%= title %>
		</div>
		<div class="category-content" style="--depth:<%= depth + 1 %>">
			<% for (const block of content) {
				createNavLinksBlock(
					block,
					depth + 1,
				);
			} %>
		</div>
	<% }
}
%>
